.send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.clear-button {
    background-color: rgb(193, 193, 193);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;

}

.user-input {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 10px;
    flex-grow: 1;
    border-width: 1px;
}

.input-container {
    display: flex;
    margin: 10px;
}